.parameters {
  gap: 5px;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 30px;
  grid-area: parameters;
}

.parameters__title {
  margin: 0;
  margin-bottom: 20px;
}

.parameters__item {
  margin: 0;
  font-size: 18px;
  text-align: left;
}